body {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
    "wdth" 100;
}

.containerLeft {
    position: relative;
    float: left;
    width: calc(50% - 20px);
    padding: 20px;
    margin-top: 20px;
    background-color: #333;
    border-radius: 20px;
}

#paint,#life {
    transition: 0.5s;
    cursor: pointer;
}

.container {
    text-align: center;
    display: block;
    margin: auto;
    width: calc(50% - 20px);
    padding: 20px;
    margin-top: 20px;
    background-color: #333;
    border-radius: 20px;
}

.containerRight {
    text-align: right;
    position: relative;
    display: block;
    float: right;
    width: calc(50% - 20px);
    padding: 20px;
    margin-top: 20px;
    background-color: #333;
    border-radius: 20px;
}


@media screen and (max-width: 800px) {
    .containerLeft, .containerRight {
        width: calc(95% - 20px);
        padding: 20px;
    }
}

@media screen and (max-width: 500px) {
    .containerLeft, .containerRight {
        width: 98%;
        padding: 10px;
    }
}