body {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
    "wdth" 100;
}

.intro {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    justify-content: center;  
    margin: auto;
    background-color: #333;
    border-radius: 20px;
    padding: 20px;  
    width: fit-content; 
}

.introImg {
    margin-bottom: 10px; 
}

.introText {
    color: greenyellow ;
    font-size: 1.2em;  
    margin: 0
}
.containerLeft {
    position: relative;
    float: left;
    width: 50%;
    background-color: #333;
    border-radius: 20px;
}

.container {
    text-align: center;
    display: block;
    margin: auto;
    width: 50%;
    background-color: #333;
    border-radius: 20px;
}

.containerRight {
    text-align: right;
    position: relative;
    display: block;
    float: right;
    width: 50%;
    background-color: #333;
    border-radius: 20px;
}

.image {
    text-align: center;
    display: block;
    margin: auto;
}

@media screen and (max-width: 800px) {
    .containerLeft, .containerRight {
        width: 100%;
        padding: 0;
    }
}