* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
    "wdth" 100;
}

body, html {
    height: 100%;
}

.bg-img {
    background-image: url("../IMG/13092024_-_shadow_nachi_0824_bg.png");
    filter: blur(10px);
    top:-10px;
    left: -10px;
    height: 105%;
    width: 105%;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.header {
    text-align: center;
    display: flex;
    border-radius: 20px;
    background-color: #333;
    color: white;
    padding: 20px;
}

.headerText {
    text-align: center;
    margin: auto;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.headerText:hover {
    transform: translateY(-10px);
}

.border {
    margin: 0cm;
    background-color: white;
}

.mainHTMLiframe {
    text-align: center;
    display: block;
    margin: auto;
    transform: 0.5s;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    overflow: hidden;
}

.footer {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    position: relative;
    bottom: 0;
    background-color: #333;
    border-radius: 20px;
    padding: 10px;
}

.footerText {
    text-align: center;
    margin: 10px;
    color: white;
    transition: 0.3s;
}

.footerText:hover {
    transform: translateY(-10px);
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footerText {
        margin: 5px 0;
    }
}