body {
    background-color: black;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
    "wdth" 100;
}

.header {
    text-align: center;
    display: flex;
    border-radius: 20px;
    background-color: #333;
    color: white;
    padding: 20px;
}

.headerText {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    cursor: pointer;
}

.border {
    margin: 0cm;
    background-color: white;
}

.mainHTMLiframe {
    text-align: center;
    display: block;
    margin: auto;
    transform: 0.5s;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    display: flex;
    margin: 20px;
    position: relative;
    bottom: 0;
    background-color: #333;
    border-radius: 20px;
}

.footerText {
    text-align: center;
    display: flex;
    margin-left: 20px;
    color: white;
}